<div class="row nested-fields employee-comission">
    <div class="col-lg-3">
    	<%= f.association :activity , :value_method => :id, :label_method => :name, :input_html => {:class => "form-control idactivity", min: 0 } %>
    </div>
	<div class="col-lg-3">
    	<%= f.input :value, :input_html => {:class => "value form-control", min: 0 } %>
    </div>
	<div class="col-lg-3">
    	<%= f.input :percentage, :input_html => {:class => "percentage form-control", min: 0 }  %>
    </div>
	<div class="col-lg-2">
	    <%= link_to_remove_association "Remove", f, class: 'btn-rm-association btn btn-danger'  %>
    </div>
</div>