<%= simple_form_for @employee, :html => { :class => 'form-horizontal' } do |f| %>
<div class="form-group">
  <div class="col-lg-6">
    <%= f.association :entity, autofocus: true, required: true, :value_method => :id, :label_method => :name, :default => @employee.entity ? @employee.entity.id : nil , :input_html => {:id => "entity", :class => "form-control"} %>
    <%= error_span(@employee[:entity_id]) %>
  </div>

  <div class="col-sm-2">
    <%= link_to t('.new_entity', :default => t("helpers.links.new_entity")), new_entity_path, :class => 'btn btn-default btn-new-resource' %> 
  </div>
  <div class="col-sm-0 col-md-1">
    <%= label_tag "ID", nil, class: ''%>
    <%= label_tag "", nil, id: "entity-id" , class: 'form-control', :readonly => "readonly" %>
  </div>
  <div class="col-sm-0 col-md-3">
    <%= label_tag "E-mail", nil, class: '' %>
    <%= label_tag "", nil, id: "entity-info", class: 'form-control', :readonly => "readonly" %>
  </div>

</div>
<div class="form-group">
  <div class="col-lg-6">
    <%= f.input :function, :input_html => {:class => "form-control"} %>
    <%= error_span(@employee[:function]) %>
  </div>
  <div class="col-lg-6">
    <%= f.input :color, :input_html => {:class => "form-control"} %>
    <%= error_span(@employee[:color]) %>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-6">
    <div class="checkbox">
      <%= f.input :active, :input_html => { :checked => true, :class => ""} %>
      <%= error_span(@employee[:active]) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Comissões
      </div>
      <div class="panel-body" id="employee-comissions">
        <%= f.simple_fields_for :comissions do |comission| %>
        <%= render 'comission_fields', :f => comission %>
        <% end %>
        <div class="links col-sm-12">
          <%= link_to_add_association 'Add Comission', f, :comissions, class: 'btn btn-warning add-button' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="col-sm-12">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
</div>
<% end %>

<script>
$(document).ready(function(){
  $('#entity').change(function () {
    var element = $(this);

    $.ajax({
      type: 'GET',
      remote: true,
      url: '/entities/' + element.val(),
      success: function(data){
        $("#entity-id").html(data.id);
        $("#entity-info").html(data.email);
      },
      error: function(data){
        console.log('error: ' + data);
        $("#entity-id").html("");
        $("#entity-info").html("");
      },
      dataType: 'JSON'
    });
  });
  
  $('#employee-comissions').on('change', '.idactivity', function () {
    var element = $(this);

    $.ajax({
      type: 'GET',
      remote: true,
      url: '/activities/' + element.val(),
      success: function(data){
        console.log(data);
        element.closest('.employee-comission').find('.percentage').val(10);
        element.closest('.employee-comission').find('.value').val(data.value);
      },
      error: function(data){
        console.log('error: ' + data);
      },
      dataType: 'JSON'
    });
  });
});
</script>