<%- model_class = Employee -%>
<%= render "menu", action: "edit", title: [:'helpers.titles.edit', 'Edit %{model}'], :model_name => model_class.model_name.human.titleize  %>

<%= render :partial => 'form' %>
