<%- model_class = Employee -%>
<%= render "menu", action: "index", title: model_class.model_name.human.pluralize.titleize, model_name: model_class %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:entity_id) %></th>
      <th><%= model_class.human_attribute_name(:function) %></th>
      <th><%= model_class.human_attribute_name(:color) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.id, employee_path(employee), :class => 'btn btn-xs btn-default'  %></td>
        <td><%= employee.entity.name %></td>
        <td><%= employee.function %></td>
        <td><%= employee.active %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_employee_path(employee), :class => 'btn btn-default btn-xs' %>
                      
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
