<%- model_class = Employee -%>
<%= render "menu", action: "new", title: [:'helpers.titles.new', 'New %{model}'], :model_name => model_class.model_name.human.titleize  %>
<%= render :partial => 'form' %>