<%- model_class = Employee -%>
<%= render "menu", action: "show", title: model_class.model_name.human.titleize, :model_name => model_class.model_name.human.titleize  %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:entity_id) %>:</strong></dt>
  <dd><%= @employee.entity_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:function) %>:</strong></dt>
  <dd><%= @employee.function %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
  <dd><%= @employee.color %></dd>
  <dt><strong><%= model_class.human_attribute_name(:active) %>:</strong></dt>
  <dd><%= @employee.active %></dd>
</dl>
