<div class="panel-body form-inputs" id="entity-fields">

          <%= simple_fields_for :entity do |e| %>
          <div class="control-group">
            <%= e.label :name, :class => 'control-label' %>
            <div class="controls">
              <%= e.text_field :name, :class => 'form-control' %>
            </div>
            <%= error_span(@user.entity[:name]) %>
          </div>

          <div class="control-group">
            <%= e.label :adress, :class => 'control-label' %>
            <div class="controls">
              <%= e.text_field :adress, :class => 'form-control' %>
            </div>
            <%= error_span(@user.entity[:adress]) %>
          </div>
          
          <div class="control-group">
            <%= e.label :phone, :class => 'control-label' %>
            <div class="controls">
              <%= e.text_field :phone, :class => 'form-control' %>
            </div>
            <%= error_span(@user.entity[:phone]) %>
          </div>
          <% end %>


          <div class="form-actions">            
            <%= f.button :submit, "Cadastrar",  :class => 'btn-primary' %>
          </div>
        </div>