<div class="row">
  <div class="container-fluid">
    <div class="col-xs-12 col-md-12 col-lg-6 offset-lg-2">

<h2 class="t-default"><span>Editar <%= resource_name.to_s.humanize %> </span></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :entity, autofocus: true, required: true, :value_method => :id, :label_method => :name, :input_html =>{:class => 'form-control'}%>
    <%= f.input :email, required: true, :input_html =>{:class => 'form-control'} %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, :input_html =>{:class => 'form-control'} %>
    <%= f.input :password_confirmation, required: false, :input_html =>{:class => 'form-control'} %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, :input_html =>{:class => 'form-control'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Atualizar",  :class => 'btn-primary' %>
  </div>
<% end %>

<%= link_to "Back", :back %>
</div><!--col-->


<div class="col-xs-12 col-md-12 col-lg-4">

      <div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Já sou Cadastrado</h2>
  </div>
  <div class="panel-body panel-gray">
  Edite suas configurações de usuário e altere sua senha e outra opções nesta página
  </div>
  </div>
</div>

</div><!--cont-->
</div><!--row-->

