<div class="row">
  <div class="container">
    <div class="col-xs-12 col-md-8 col-lg-8">

    <!-- div class="jumbotron">
        <h3 class="title-start">Gerencie seu salão.</h3>
        <p>Com o TrendHair você gerencia seu salão com facilidade e praticidade e o melhor: sem precisar instalar nada!</p>
      </div -->

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form-inputs panel panel-default">
        <div class="panel-heading">
          <span>Novo usuário</span>
        </div>
        <div class="panel-body">

          <%= f.association :entity, autofocus: true, required: true, :value_method => :id, :label_method => :name, :input_html =>{:class => 'form-control'} %>
          <div class="control-group">
            <%= f.input :email, required: true, :input_html =>{:class => 'form-control'} %>
            <%= error_span(@user[:email]) %>
          </div>
          <div class="control-group">
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), :input_html =>{:class => 'form-control'} %>
            <%= f.input :password_confirmation, required: true, :input_html =>{:class => 'form-control'} %>
            <%= error_span(@user[:password]) %>
          </div>
          <div class="control-group">
            <%= f.button :submit, :class => 'btn-primary' %>
          </div>
        </div>
      </div>
      <% end %>
    </div><!--col-->
    <div class="col-xs-12 col-md-4 col-lg-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <span>Informações</span>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><h5>User Entity:</h5>
            YOu it's about to add a new user to this entity, it will have access to new schedulings, new entities and new documents, as well acquittances.
          </li>
          <li class="list-group-item"><h5>Information about Users:</h5>
            <ul class="list-group">
              <li>Users can only be registereds by administrators</li>
              <li>Users only can modyfy your own data</li>
              <li>Users with admin credential can add new users</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div><!--cont-->
</div><!--row-->