<%= simple_form_for @acquittance, :html => { :class => 'form-horizontal' } do |f| %>
<div class="form-group">
  <div class="col-md-12">
    <div class="panel panel-warning">
      <div class="panel-heading">
        Document Info
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <%= f.association :document, autofocus: true, required: true, :value_method => :id, :label_method => :id, :input_html => {:id => "document", :class => "form-control" }  %>
            <%= error_span(@acquittance[:document_id]) %>
          </div>
          <div class="col-md-2">
            <%= link_to "List", documents_path, :class => 'btn btn-default btn-new-resource' %> 
          </div>
          <div class="col-md-6">
            <%= label_tag "Entity", nil, class: '' %>
            <%= label_tag (@acquittance.document.new_record? ? nil : @acquittance.document.entity.name), nil, class: 'form-control', :readonly => "readonly", id: "document-entity" %>
          </div>
          <div class="col-md-4">
            <%= label_tag "Document Value", nil, class: '' %>
            <%= label_tag @acquittance.document.final_value, nil, class: 'form-control', :readonly => "readonly", id: "document-value" %>
          </div>
          <div class="col-md-4">
            <%= label_tag "Received Value", nil, class: '' %>
            <%= label_tag @acquittance.document.get_received_value, nil, class: 'form-control', :readonly => "readonly", id: "document-received" %>
          </div>
          <div class="col-md-4">
            <%= label_tag "Pending Value", nil, class: '' %>
            <%= label_tag @acquittance.document.get_pending_value, nil, class: 'form-control', :readonly => "readonly", id: "document-pending" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-md-4">

    <%= f.input :gross_value, :input_html => {:id => "gross-value", :class => "values form-control", value: f.object.gross_value || '0', min: 0 }   %>
    <%= error_span(@acquittance[:gross_value]) %>
  </div>
  <div class="col-md-4">

    <%= f.input :discount_value, :input_html => {:id => "discount-value", :class => "values form-control", value: f.object.discount_value || '0', min: 0 }   %>
    <%= error_span(@acquittance[:discount_value]) %>
  </div>
  <div class="col-md-4">

    <%= f.input :liquid_value, :input_html => {:id => "liquid-value", :class => "form-control", value: f.object.liquid_value || '0', min: 0, :readonly => "readonly" } %>
    <%= error_span(@acquittance[:liquid_value]) %>

  </div>
</div>
<div class="form-group">
  <div class="col-lg-6">

    <%= f.input :reference_code, :input_html => {:class => 'form-control'} %>
    <%= error_span(@acquittance[:reference_code]) %>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-6">

    <%= f.input :observation, :input_html => {:class => 'form-control'} %>
    <%= error_span(@acquittance[:observation]) %>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-6">

    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    acquittances_path, :class => 'btn btn-default' %>
  </div>
</div>

<% end %>


<script>
$(document).ready(function(){
  $('#document').on('change', function () {
    var element = $(this);

    $.ajax({
      type: 'GET',
      remote: true,
      url: '/documents/' + element.val(),
      success: function(data){
        $('#gross-value').val(data.get_pending_value);
        calculateValues();
        console.log(data);
        $("#document-entity").html(data.entity.name);
        $("#document-value").html(data.final_value);
        $("#document-received").html(data.get_received_value);
        $("#document-pending").html(data.get_pending_value);
      },
      error: function(data){
        console.log('error: ' + data);
        $("#document-id").val("");
        $("#document-info").html("");
      },
      dataType: 'JSON'
    });
  });

  $('.values').on('change', function () {
    calculateValues();
  });

  function calculateValues(){
    liquid = $('#gross-value').val() - $('#discount-value').val();
    if (liquid >= 0) {
      $('#liquid-value').val($('#gross-value').val() - $('#discount-value').val());
    } else {
      $('#liquid-value').val($('#gross-value').val());
      $('#discount-value').val(0);
    };
  }
  
  calculateValues();

});
</script>

