<%- model_class = Acquittance -%>
<%= render "menu", action: "index", title: model_class.model_name.human.pluralize.titleize, model_name: model_class %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:document_id) %></th>
      <th><%= model_class.human_attribute_name(:gross_value) %></th>
      <th><%= model_class.human_attribute_name(:discount_value) %></th>
      <th><%= model_class.human_attribute_name(:liquid_value) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @acquittances.each do |acquittance| %>
      <tr>
        <td><%= link_to acquittance.id, acquittance_path(acquittance), :class => 'btn btn-xs btn-default'  %></td>
        <td><%= link_to acquittance.document_id, document_path(acquittance.document), :class => 'btn btn-xs btn-warning'  %></td>
        <td><%= acquittance.gross_value %></td>
        <td><%= acquittance.discount_value %></td>
        <td><%= acquittance.liquid_value %></td>
        <td><%=l acquittance.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
