<%- model_class = Acquittance -%>
<%= render "menu", action: "show", title: model_class.model_name.human.titleize, :model_name => model_class.model_name.human.titleize  %>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:document_id) %>:</strong></dt>
  <dd><%= @acquittance.document_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gross_value) %>:</strong></dt>
  <dd><%= @acquittance.gross_value %></dd>
  <dt><strong><%= model_class.human_attribute_name(:discount_value) %>:</strong></dt>
  <dd><%= @acquittance.discount_value %></dd>
  <dt><strong><%= model_class.human_attribute_name(:liquid_value) %>:</strong></dt>
  <dd><%= @acquittance.liquid_value %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reference_code) %>:</strong></dt>
  <dd><%= @acquittance.reference_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observation) %>:</strong></dt>
  <dd><%= @acquittance.observation %></dd>
</dl>
