<%= form_for @entity, :html => { :class => "form-horizontal entity" } do |f| %>

    <% if @entity.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @entity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@entity[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@entity[:email]) %>
  </div>
  <div class="control-group">
    <%= f.label :adress, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :adress, :class => 'form-control' %>
    </div>
    <%= error_span(@entity[:adress]) %>
  </div>
  <div class="control-group">
    <%= f.label :ddd, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ddd, :class => 'form-control' %>
    </div>
    <%= error_span(@entity[:phone]) %>
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    <%= error_span(@entity[:phone]) %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
<% end %>
