<%- model_class = Entity -%>
<%= render "menu", action: "index", title: [:'helpers.titles.edit', 'Edit %{model}'], :model_name => model_class.model_name.human.titleize  %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= link_to entity.id, entity_path(entity), :class => 'btn btn-xs btn-default'  %></td>
        <td><%= entity.name %></td>
        <td><%= entity.email %></td>
        <td><%= entity.phone %></td>
        <td>
          <%= link_to "Details", entity_path(entity), class: 'btn btn-xs btn-default'  %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_entity_path(entity), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>