<%- model_class = Entity -%>
<%= render "menu", action: "show", title: model_class.model_name.human.titleize, :model_name => model_class.model_name.human.titleize  %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @entity.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @entity.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:adress) %>:</strong></dt>
  <dd><%= @entity.adress %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ddd) %>:</strong></dt>
  <dd><%= @entity.ddd %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @entity.phone %></dd>
</dl>

<%= link_to "Make Employee", new_entity_employee_path(@entity.id), :class => 'btn btn-warning' %>
<%= link_to "Make User", new_entity_user_path(@entity.id), :class => 'btn btn-warning' %>