<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @notification.entity.name %></h1>
    <p>
      <%= @notification.message %>.<br>
    </p>
    <p>
      Do not answer this e-mail! We know where you live ¬¬
    </p>
    <p> <%= @url %></p>
  </body>
</html>