<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @entity.name %></h1>
    <p>
      You have a scheduled activity for <%= @scheduling.dtt_moment %><br>
      your activity is: <%= @scheduling.activity.name %>.<br>
    </p>
    <p>
      Obs: <%= @message %>
    </p>
    <p>
      Do not forget! We know where you live ¬¬
    </p>
    <p> <%= @url %></p>
  </body>
</html>