<%= simple_form_for @notification, :html => { :class => 'form-horizontal' } do |f| %>

<div class="form-group">
  <div class="col-lg-6">
    <%= f.association :entity, autofocus: true, required: true, :value_method => :id, :label_method => :name, :default => @notification.entity ? @notification.entity.id : nil , :input_html => {:id => "entity", :class => "form-control"} %>
    <%= error_span(@notification[:entity_id]) %>
  </div>
  <div class="col-sm-2">
    <%= link_to t('.new_entity', :default => t("helpers.links.new_entity")), new_entity_path, :class => 'btn btn-default btn-new-resource' %> 
  </div>
  <div class="col-sm-0 col-md-1">
    <%= label_tag "ID", nil, class: ''%>
    <%= label_tag @notification.entity_id, nil, id: "entity-id" , class: 'form-control', :readonly => "readonly" %>
  </div>
  <div class="col-sm-0 col-md-3">
    <%= label_tag "E-mail", nil, class: '' %>
    <%= label_tag @notification.entity ? @notification.entity.email : "" , nil, id: "entity-info", class: 'form-control', :readonly => "readonly" %>
  </div>
</div>
<div class="form-group">

  <div class="col-sm-6">
    <%= f.input :way , :selected => 2, :input_html => {:id => "way", :class => "form-control"} %>
    <%= error_span(@notification[:way]) %>
  </div>
  <div class="col-lg-6">
    <%= f.input :scheduling_id , :input_html => {:readonly => "readonly", :class => "form-control"} %>
    <%= error_span(@notification[:scheduling_id]) %>
  </div>
</div>
<div class="form-group">  
  <div class="col-sm-2">
    <%= f.input :ddd , :input_html => {:id => "entity-ddd", :class => "form-control"} %>
    <%= error_span(@notification[:ddd]) %>
  </div>
  <div class="col-sm-4">
    <%= f.input :phone , :input_html => {:id => "entity-phone", :class => "form-control"} %>
    <%= error_span(@notification[:phone]) %>
  </div>
  <div class="col-sm-6">
    <%= f.input :email , :input_html => {:id => "entity-email", :class => "form-control"} %>
    <%= error_span(@notification[:email]) %>
  </div>
</div>
<div class="form-group">  
  <div class="col-sm-12">
    <%= f.input :message , :input_html => {:id => "message", :class => "form-control"} %>
    <%= error_span(@notification[:message]) %>
  </div>
</div>
<div class="form-group">  
  <div class="col-sm-6">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
</div>
<% end %>

<script>
$(document).ready(function(){
  $('#entity').change(function () {
    var element = $(this);

    $.ajax({
      type: 'GET',
      remote: true,
      url: '/entities/' + element.val(),
      success: function(data){
        $("#entity-id").html(data.id);
        $("#entity-info").html(data.email);
        $("#entity-phone").val(data.phone);
        $("#entity-ddd").val(data.ddd);
        $("#entity-email").val(data.email);
      },
      error: function(data){
        console.log('error: ' + data);
        $("#entity-id").html("");
        $("#entity-info").html("");
        $("#entity-phone").val("");
        $("#entity-ddd").val("");
        $("#entity-email").val("");
      },
      dataType: 'JSON'
    });
  });
  
});
</script>