<div class="page-header row">
  <div  class="page-title col-sm-12 col-md-3">
    <h3><%=t '.title', :default => title, :model => model_name %></h3>
  </div>
  <div class="col-sm-6 col-md-4 btn-group" role="group">
    <span class="btn disabled">Options</span>
    <%= link_to t('.new', :default => t("helpers.links.new")), new_notification_path, :class => 'btn btn-primary' unless action == "new"%>

    <%= link_to t('.list', :default => t("list")),
    notifications_path, :class => 'btn btn-default' unless action == "index" %>
    <%= link_to t('.detail', :default => t("helpers.links.detail")),
    notification_path(@notification), :class => 'btn btn-default'  if action == "edit"  %>
    <%= link_to t('.resend', :default => t("helpers.links.resend")),
    notification_resend_path(@notification), :class => 'btn btn-info'  if action == "show"  %>
    
  </div>
</div>