<%- model_class = Notification -%>
<%= render "menu", action: "index", title: model_class.model_name.human.pluralize.titleize, model_name: model_class %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:entity_id) %></th>
      <th><%= model_class.human_attribute_name(:scheduling_id) %></th>
      <th><%= model_class.human_attribute_name(:way) %></th>
      <th><%= model_class.human_attribute_name(:ddd) + '-'+ model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:request_response) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= link_to notification.id, notification_path(notification), class: "btn btn-default btn-xs" %></td>
        <td><%= notification.entity_id %></td>
        <td><%= notification.scheduling_id %></td>
        <td><%= notification.way %></td>
        <td><%= "(#{notification.ddd }) " + notification.phone %></td>
        <td><%= notification.email %></td>
        <td><%= notification.request_response %></td>
        <td><%=l notification.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
