<%- model_class = Notification -%>
<%= render "menu", action: "show", title: model_class.model_name.human.titleize, :model_name => model_class.model_name.human.titleize  %>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:entity_id) %>:</strong></dt>
  <dd><%= @notification.entity_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:scheduling_id) %>:</strong></dt>
  <dd><%= @notification.scheduling_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:way) %>:</strong></dt>
  <dd><%= @notification.way %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ddd) %>:</strong></dt>
  <dd><%= @notification.ddd %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @notification.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:message) %>:</strong></dt>
  <dd><%= @notification.message %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @notification.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:request_response) %>:</strong></dt>
  <dd><%= @notification.request_response %></dd>
</dl>
