<%= simple_form_for @user, :url => "/entities/#{@user.entity_id}/users", :method => :post, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :email %>
  <%= error_span(@user[:email]) %>
  <%= f.input :encrypted_password %>
  <%= error_span(@user[:encrypted_password]) %>
  <%= f.input :entity_id %>
  <%= error_span(@user[:entity_id]) %>
  <%= f.input :admin %>
  <%= error_span(@user[:admin]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                entity_users_path, :class => 'btn btn-default' %>
<% end %>
