<div class="row nested-fields document-product">
    <div class="col-lg-3">
        <%= f.association :product , :value_method => :id, :label_method => :name, :input_html => {:class => "idproduct form-control" } %>
    </div>
    <div class="col-lg-2">
        <%= f.input :unit_value, :readonly => true, :input_html => {:class => "unit_value form-control", :readonly => 'readonly' }  %>
    </div>
    <div class="col-lg-2">
        <%= f.input :quantity, :input_html => {:class => "quantity form-control", value: f.object.quantity || '1', min: 1 }  %>
    </div>
	<div class="col-lg-2">
        <%= link_to_remove_association "Remove", f, class: 'btn-rm-association btn btn-danger' %>
    </div>
</div>