<div class="row nested-fields document-activity">
    <div class="col-lg-3">
        <%= f.association :activity , :value_method => :id, :label_method => :name, :input_html => {:class => "idactivity form-control" } %>
    </div>
    <div class="col-lg-3">
    	<%= f.association :employee , :value_method => :id, :label_method => :employee_name, :input_html => {:class => "idemployee form-control" }  %>
    </div>
    <div class="col-lg-2">
        <%= f.input :unit_value, :readonly => true, :input_html => {value: f.object.unit_value.to_s, :class => "unit_value form-control", :readonly => 'readonly' }  %>
    </div>
    <div class="col-lg-2">
        <%= f.input :quantity, :input_html => {:class => "quantity form-control", value: f.object.quantity || '1', min: 1 }  %>
    </div>
	<div class="col-lg-2">
	    <%= link_to_remove_association "Remove", f, class: 'btn-rm-association btn btn-danger' %>
    </div>
</div>