<%= simple_form_for @document, :html => { :class => 'form-horizontal', id: :document_form} do |f| %>
<div class="form-group">
  <div class="col-lg-6">
    <%= f.input :operation, :selected => 1, :input_html => {:id => "document", :class => "form-control"}  %>
    <%= error_span(@document[:operation]) %>
  </div>
  <div class="col-lg-1">
    <%= f.input :scheduling_id, :input_html => {:class => "form-control", :readonly => "readonly", :value => @document.scheduling_id}  %>:
    <%= error_span(@document[:scheduling_id]) %>
  </div>
  <div class="col-lg-5">
    <%= label_tag "Scheduling Date", nil, class: '' %>
    <%= label_tag @document.scheduling_date, nil, class: 'form-control', :readonly => "readonly" %>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-6">
    <%= f.association :entity, autofocus: true, required: true, :value_method => :id, :label_method => :name, :input_html => {:id => "entity", :class => "form-control" }  %>
    <%= error_span(@document[:entity_id]) %>
  </div>

  <div class="col-sm-2">
    <%= link_to t('.new_entity', :default => t("helpers.links.new_entity")), new_entity_path, :class => 'btn btn-default btn-new-resource' %> 
  </div>
  <div class="col-sm-0 col-md-1">
    <%= label_tag "ID", nil, class: '' %>
    <%= label_tag f.object.entity_id, nil, id: "entity-id", class: 'form-control', :readonly => "readonly" %>
  </div>
  <div class="col-sm-0 col-md-3">
    <%= label_tag "E-mail", nil, class: '' %>
    <%= label_tag f.object.entity.email, nil, id: "entity-info", class: 'form-control', :readonly => "readonly" %>
  </div>
  
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Atividades do documento
      </div>
      <div class="panel-body" id="document-activities">
        <%= f.simple_fields_for :document_activities do |document_activity| %>
        <%= render 'document_activity_fields', :f => document_activity %>
        <% end %>
        <div class="links col-sm-12">
          <%= link_to_add_association 'Add activity', f, :document_activities, class: 'btn btn-warning add-button' %>
        </div>
      </div>
      <div class="panel-heading">
        Produtos do documento
      </div>
      <div class="panel-body" id="document-products">
        <%= f.simple_fields_for :document_products do |document_product| %>
        <%= render 'document_product_fields', :f => document_product %>
        <% end %>
        <div class="links col-sm-12">
          <%= link_to_add_association 'Add product', f, :document_products, class: 'btn btn-warning add-button' %>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-lg-4">
            <%= f.input :total_value, :input_html => { :id => "document-total-value", value: f.object.total_value || '0', min: 0, :class => "form-control"}, :readonly => true %>
            <%= error_span(@document[:total_value])%>
          </div>
          <div class="col-lg-4">
            <%= f.input :discount_value, :input_html => { :id => "document-discount-value", value: f.object.discount_value || '0', min: 0, :class => "form-control"}  %>
            <%= error_span(@document[:discount_value]) %>
          </div>
          <div class="col-lg-4">
            <%= f.input :final_value, :input_html => { :id => "document-final-value",  value: f.object.final_value, min: 0, :class => "form-control"}  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="col-sm-12">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    documents_path, :class => 'btn btn-default' %>
  </div>
</div>
<% end %>

<script>
$(document).ready(function(){

  $('#entity').change(function () {
    var element = $(this);

    $.ajax({
      type: 'GET',
      remote: true,
      url: '/entities/' + element.val(),
      success: function(data){
        $("#entity-id").html(data.id);
        $("#entity-info").html(data.email);
      },
      error: function(data){
        console.log('error: ' + data);
        $("#entity-id").html("");
        $("#entity-info").html("");
      },
      dataType: 'JSON'
    });
  });


  $('#document-activities').on('change', '.idemployee', function () {
    var element = $(this).closest('.document-activity').find('.idactivity');
    selectActivityValue(element);
  });
  $('#document-activities').on('change', '.idactivity', function () {
    var element = $(this);

    $.ajax({
      type: 'GET',
      remote: true,
      url: '/activities/' + element.val(),
      success: function(data){
        element.closest('.document-activity').find('.quantity').val(1);
        element.closest('.document-activity').find('.unit_value').val(data.value);

        element.removeData('comissions');
        element.data('comissions', data.comissions);
        element.data('value', data.value);
        selectActivityValue(element);
        calculateValues();
      },
      error: function(data){
        console.log('error: ' + data);
      },
      dataType: 'JSON'
    });
  });

  $('#document-products').on('change', '.idproduct', function () {
    var element = $(this);
    $.ajax({
      type: 'GET',
      remote: true,
      url: '/products/' + element.val(),
      success: function(data){
        console.log(data);
        element.closest('.document-product').find('.quantity').val(1);
        element.closest('.document-product').find('.unit_value').val(data.value);
        calculateValues();
      },
      error: function(data){
        console.log('error: ' + data);
      },
      dataType: 'JSON'
    });
  });

  $('#document-discount-value').on('change', function () {
    calculateValues();
  });
  $('.btn-rm-association').on('click', function () {
    calculateValues();
  });
  $('#document-activities').bind('DOMSubtreeModified', function () {
    calculateValues();
  });
  $('#document-products').bind('DOMSubtreeModified', function () {
    calculateValues();
  });
  $('#document-activities').on('change', '.quantity', function () {
    calculateValues();
  });
  $('#document-products').on('change', '.quantity', function () {
    calculateValues();
  });

  function calculateValues(){
    var activitiesList = $("#document-activities .document-activity").map(function () {
      return this;
    }).get();
    var productsList = $("#document-products .document-product").map(function () {
      return this;
    }).get();
    
    var activitiesValue = 0;
    var productsValue = 0;

    if (activitiesList.length > 0) {
      $.each(activitiesList , function (key, item) {
        if ( $(item).is(':visible')) {
          quantity = $(item).find('.quantity').val();
          value = $(item).find('.unit_value').val();


          activitiesValue += value * quantity;
        };
      });
    };
    if (productsList.length > 0) {
      $.each(productsList , function (key, item) {
        if ( $(item).is(':visible')) {
          quantity = $(item).find('.quantity').val();
          value = $(item).find('.unit_value').val();
          productsValue += value * quantity;
        };
      });
    };

    $('#document-total-value').val(activitiesValue + productsValue);
    $('#document-final-value').val((activitiesValue + productsValue) - $('#document-discount-value').val());
  }
  
  function selectActivityValue(activity_element) {
    comissions = activity_element.data('comissions');
    employee_id = parseInt(activity_element.closest('.document-activity').find('.idemployee').val());
    has = false;
    if (comissions.length > 0 && employee_id > 0) {
      for (var i = comissions.length - 1; i >= 0; i--) {
        if (comissions[i].employee_id == employee_id) {
          activity_element.closest('.document-activity').find('.unit_value').val(comissions[i].value);
          has = true;
        }
      };
      if (!has) {
        activity_element.closest('.document-activity').find('.unit_value').val(activity_element.data('value'));
      };
    };
  }

  calculateValues();

});
</script>
