<div class="page-header row">
  <div  class="page-title col-sm-12 col-md-3">
    <h3><%=t '.title', :default => title, :model => model_name %></h3>
  </div>
  <div class="col-sm-6 col-md-4 btn-group" role="group">
    <span class="btn disabled">Options</span>
    <%= link_to t('.new', :default => t("helpers.links.new")), new_document_path, :class => 'btn btn-primary' unless action == "new"%>

    <%= link_to t('.list', :default => t("list")),
    documents_path, :class => 'btn btn-default' unless action == "index" %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_document_path(@document), :class => 'btn btn-default'  if action == "show"  %>

  </div>
  <% if action == "index" %>
  <div class="col-sm-6 col-md-5">
    <nav>
      <ul class="nav nav-justified">
        <li class="<%= @active_all %>"><a href="<%= documents_path %>">All Documents</a></li>
        <li class="<%= @active_pending %>"><a href="<%= pending_documents_path %>">Pending</a></li>
        <li class="<%= @active_payed %>"><a href="<%= payed_documents_path %>">Payed</a></li>
      </ul>
    </nav>
  </div>
  <% end %>

</div>