<%- model_class = Document -%>
<%= render "menu", action: "index", title: model_class.model_name.human.pluralize.titleize, model_name: model_class %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:entity_id) %></th>
      <th><%= model_class.human_attribute_name(:scheduling_id) %></th>
      <th><%= model_class.human_attribute_name(:final_value) %></th>
      <th><%= model_class.human_attribute_name(:received_value) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
    <tr>
      <td><%= link_to document.id, document_path(document), :class => 'btn btn-xs btn-default'  %></td>
      <td><%= document.entity.name %></td>
      <td><%= document.scheduling_date %></td>
      <td><%= (document.discount_value.nil?) ? document.total_value : document.total_value - document.discount_value  %></td>
      <td><%= document.received_value %></td>
      <td><%=l document.created_at %></td>
      <td>
        <%= link_to t('.new_acquittance', :default => t("helpers.links.new_acquittance")),
        new_document_acquittance_path(document.id), :class => 'btn btn-success btn-xs' %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_document_path(document), :class => 'btn btn-default btn-xs' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

