<%- model_class = Document -%>

<%= render "menu", action: "show", title: model_class.model_name.human.titleize, :model_name => model_class.model_name.human.titleize  %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:entity_id) %>:</strong></dt>
  <dd><%= @document.entity_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:scheduling_id) %>:</strong></dt>
  <dd><%= @document.scheduling_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:operation) %>:</strong></dt>
  <dd><%= @document.operation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_value) %>:</strong></dt>
  <dd><%= @document.total_value %></dd>
  <dt><strong><%= model_class.human_attribute_name(:discount_value) %>:</strong></dt>
  <dd><%= @document.discount_value %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observation) %>:</strong></dt>
  <dd><%= @document.observation %></dd>
</dl>

