<div class="row">
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12 col-lg-8">
			<div class="jumbotron">
			  <h1 class="title-start">Gerencie seu salão.</h1>
			  <p>Com o TrendHair você gerencia seu salão com facilidade e praticidade e o melhor: sem precisar instalar nada!</p>

			  <p>
			    <%= image_tag("beauty.png", :class => "img-responsive") %>
			  Faça o cadastro e confira como o Trend Hair vai te ajudar a ter contato mais próximo do seu cliente, gerenciar melhor seus funcionários e ter melhor controle das finanças.
			  </p>
			  <p><a class="btn btn-primary btn-lg" href="#" role="button">Quero Conferir!</a></p>
			</div>
		</div>

		<div class="col-xs-12 col-md-12 col-lg-4">
			<div class="panel panel-default">
  				<div class="panel-heading">
    				<h2 class="panel-title">Log In:</h2>
  				</div>
  				<div class="panel-body ">
					<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  						<div class="form-inputs">
<%= f.input :email, required: false, autofocus: true, :input_html =>{:class => 'form-control'} %>
<%= f.input :password, required: false, :input_html =>{:class => 'form-control'} %>
<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  						</div>

  						<div class="form-actions">
<%= f.button :submit, "Login", :class => 'btn-primary' %>
					  	</div>
					<% end %>
					<%= render "devise/shared/links" %>
				</div>
			</div>
		</div>
	</div><!--cf-->
</div><!--row-->