/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* latin */
 @font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(https://fonts.gstatic.com/s/raleway/v9/8KhZd3VQBtXTAznvKjw-kwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(https://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v9/xkvoNo9fC8O2RDydKj12bwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaIwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v9/1ImRNPx4870-D9a1EBUdPAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
	font-family: 'Raleway' !important;
}
.navbar-default {
  padding-top: 5px !important;
}
.navbar-primary {
  background-color: #6E2B78;
  border-color: #e7e7e7;
  min-height: 40px !important;
}
.navbar-primary .navbar-nav>li>a {
	color: white !important;
}

.navbar-primary .navbar-nav>.open>a, .navbar-primary .navbar-nav>.open>a:hover, .navbar-primary .navbar-nav>.open>a:focus {
  background-color: #9a3ba8 !important;
  color: white !important;
}

.navbar-nav>li>.dropdown-menu {
  background-color: #9a3ba8 !important;
}

.navbar-primary .navbar-brand {
  color: white !important;
  font-weight: 300;
}
.navbar-brand { 
  padding: 10px 15px 10px 15px ;
  height: 40px !important;
}
.navbar-brand span { 
  font-weight: 700;
}

.dropdown-menu>li>a {
  color: white !important;
}

.dropdown-menu>li>a:hover {
  background-color: #7b4283 !important;
  color: white !important;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
  background-color: #7b4283 !important;
  color: white !important;
}

.dropdown-menu .divider {
  margin: 5px 0;
}

.btn-primary {
  color: #fff !important;
  background-color: #6E2B78;
  border-color: #7b4283;
}
.btn-primary a { 
  color: white !important;
}
.btn-primary:hover { 
  background-color: #9a3ba8 !important;
}
.btn-info {
  background-color: "#c5cae9" !important;
  border-color: "#c5cae9";
}
.btn-success:visited, .btn-info:visited, 
.btn-danger:visited, .btn-primary:visited, .btn-warning:visited {
  color: white !important;
}
.title-start { 
  color: #7b4283 !important;
}

.user_remember_me { 
  margin-left: 40px;
}

.panel-gray { 
  background-color: #f5f5f5 !important;
}

.t-default span { 
  border-bottom: 2px solid #7b4283;
}

.bs-callout-warning {
  border-left-color: #aa6708;
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.btn-rm-association{
  margin-top: 20px;
}
.page-header{
  margin-top: 0;
  margin-bottom: 0;
}
.page-title h3{
  margin-top: 0;
}

.btn-new-resource{
  margin-top: 20px;
}


/* NavBAR documents */
.nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
}
.nav-justified > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-weight: bold;
    color: #777;
    text-align: center;
    background-color: #e5e5e5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 );
    background-repeat: repeat-x;
    border-bottom: 1px solid #d5d5d5;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-justified > .active > a, .nav-justified > .active > a:hover, .nav-justified > .active > a:focus {
    background-color: #ddd;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}