<%= simple_form_for @scheduling, :html => { :class => 'form-horizontal' } do |f| %>
<div class="form-group">
  <div class="col-sm-11 col-md-6">
    <%= f.association :entity , autofocus: true, required: true, :value_method => :id, :label_method => :name, :input_html => {:id => "entity", :class => "form-control"} %> 
    <%= error_span(@scheduling[:entity_id]) %>
  </div>

  <div class="col-sm-2">
    <%= link_to t('.new_entity', :default => t("helpers.links.new_entity")), new_entity_path, :class => 'btn btn-default btn-new-resource' %> 
  </div>
  <div class="col-sm-0 col-md-1">
    <%= label_tag "ID", nil, class: ''%>
    <%= label_tag "", nil, id: "entity-id" , class: 'form-control', :readonly => "readonly" %>
  </div>
  <div class="col-sm-0 col-md-3">
    <%= label_tag "E-mail", nil, class: '' %>
    <%= label_tag "", nil, id: "entity-info", class: 'form-control', :readonly => "readonly" %>
  </div>

</div>
<div class="form-group">
  <div class="col-sm-12 col-md-6">
    <%= f.association :activity, required: true, :value_method => :id, :label_method => :name, :input_html => {:id => "activity", :class => "form-control", 'data-comissions' => ''}  %>
    <%= error_span(@scheduling[:activity_id]) %>
  </div>

  <div class="col-sm-0 col-lg-1 col-md-offset-2">
    <%= label_tag "ID", nil, class: '' %>
    <%= label_tag "", nil, id: "activity-id", class: 'form-control', :readonly => "readonly" %>
  </div>
  <div class="col-sm-0 col-lg-3">
    <%= label_tag "Value", nil, class: '' %>
    <%= label_tag "", nil, id: "activity-info", class: 'form-control', :readonly => "readonly" %>
  </div>

</div>
<div class="form-group">
  <div class="col-sm-12 col-md-6">
    <%= f.association :employee, required: true, :value_method => :id, :label_method => :employee_name, :input_html => {:id => "employee", :class => "form-control"}  %>
    <%= error_span(@scheduling[:employee_id]) %>
  </div>

  <div class="col-sm-0 col-lg-1 col-md-offset-2">
    <%= label_tag "ID", nil, class: '' %>
    <%= label_tag "", nil, id: "employee-id", class: 'form-control', :readonly => "readonly" %>
  </div>
  <div class="col-sm-0 col-lg-3">
    <%= label_tag "Function", nil, class: '' %>
    <%= label_tag "", nil, id: "employee-info", class: 'form-control', :readonly => "readonly" %>
  </div>

</div>
<div class="form-group">
  <div class="col-sm-12 col-md-6">
    <%= f.input :dtt_moment, wrapper: :horizontal_select_date, :input_html => {:class => "form-control"} %>
    <%= error_span(@scheduling[:dtt_moment]) %>
  </div>
  <div class="col-sm-12 col-md-6">
    <%= f.input :t_end, wrapper: :horizontal_select_date, :input_html => {:class => "form-control"} %>
    <%= error_span(@scheduling[:t_end]) %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <%= f.input :observation, :input_html => {:class => "form-control", :rows =>3} %>
    <%= error_span(@scheduling[:observation]) %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
   <%= f.association :scheduling_status, :selected => 1, required: true, :value_method => :id, :label_method => :title, :input_html => {:id => "status", :class => "form-control"}  %>
   <%= error_span(@scheduling[:id_scheduling_status]) %>
 </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
</div>

<% end %>



<script>
$(document).ready(function(){
  $('#entity').change(function () {
    var element = $(this);

    if ($(this).val() != '') 
      $.ajax({
        type: 'GET',
        remote: true,
        url: '/entities/' + element.val(),
        success: function(data){
          $("#entity-id").html(data.id);
          $("#entity-info").html(data.email);
        },
        error: function(data){
          console.log('error: ' + data);
          $("#entity-id").html("");
          $("#entity-info").html("");
        },
        dataType: 'JSON'
      });
  });

  $('#activity').change(function () {
    var element = $(this);

    if ($(this).val() != '') 
      $.ajax({
        type: 'GET',
        remote: true,
        url: '/activities/' + element.val(),
        success: function(data){
          $("#activity-id").html(data.id);
          $("#activity-info").html(data.value);
          element.removeData('comissions');
          element.data('comissions', data.comissions);
          element.data('value', data.value);
          selectActivityValue();
        },
        error: function(data){
          console.log('error: ' + data);
          $("#activity-id").html("");
          $("#activity-info").html("");
        },
        dataType: 'JSON'
      });
  });

  $('#employee').change(function () {
    var element = $(this);
    if ($(this).val() != '') 
      $.ajax({
        type: 'GET',
        remote: true,
        url: '/employees/' + element.val(),
        success: function(data){
          $("#employee-id").html(data.id);
          $("#employee-info").html(data.function);
          selectActivityValue();

        },
        error: function(data){
          console.log('error: ' + data);
          $("#employee-id").html("");
          $("#employee-info").html("");
        },
        dataType: 'JSON'
      });
  });

  function selectActivityValue() {
    comissions = $('#activity').data('comissions');
    employee_id = parseInt($('#employee').val());
    has = false;
    if (comissions.length > 0 && employee_id > 0) {
      for (var i = comissions.length - 1; i >= 0; i--) {
        if (comissions[i].employee_id == employee_id) {
          $("#activity-info").html(comissions[i].value)
          has = true;
        }
      };
      if (!has) {
        $("#activity-info").html($('#activity').data('value'));
      };
    };
  }
});
</script>


