<div class="page-header row">
  <div  class="page-title col-sm-12 col-md-3">
    <h3><%=t '.title', :default => title, :model => model_name %></h3>
  </div>
  <div class="col-sm-6 col-md-4 btn-group" role="group">
    <span class="btn disabled">Options</span>
    <%= link_to t('.new', :default => t("helpers.links.new")), new_scheduling_path, :class => 'btn btn-primary' unless action == "new"%>

    <%= link_to t('.list', :default => t("list")),
    schedulings_path, :class => 'btn btn-default' unless action == "index" %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_scheduling_path(@scheduling), :class => 'btn btn-default'  if action == "show"  %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    scheduling_path(@scheduling),
    :method => 'delete',
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger' if action == "show"%>
  </div>
  <% if action == "index" %>
  <div class="col-sm-6 col-md-5">
    <nav>
      <ul class="nav nav-justified">
        <li class="<%= @active_pendingtoday %>"><a href="<%= todaypending_schedulings_path %>">Pending Today</a></li>
        <li class="<%= @active_alltoday %>"><a href="<%= today_schedulings_path %>">All Today</a></li>
        <li class="<%= @active_all %>"><a href="<%= schedulings_path %>">All</a></li>
      </ul>
    </nav>
  </div>
  <% end %>

</div>