<%- model_class = Scheduling -%>
<%= render "menu", action: "index", title: model_class.model_name.human.pluralize.titleize, model_name: model_class %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:entity_id) %></th>
      <th><%= model_class.human_attribute_name(:activity_id) %></th>
      <th><%= model_class.human_attribute_name(:employee_id) %></th>
      <th><%= model_class.human_attribute_name(:dtt_moment) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @schedulings.each do |scheduling| %>
      <tr>
        <td><%= link_to scheduling.id, scheduling_path(scheduling), :class => 'btn btn-xs btn-default' %></td>
        <td><%= status_tag scheduling.scheduling_status %></td>
        <td><%= scheduling.entity.name %></td>
        <td><%= scheduling.activity.name %></td>
        <td><%= scheduling.employee.entity.name %></td>
        <td><%= scheduling.dtt_moment %></td>
        <td>
          <%= link_to "Notify", new_scheduling_notification_path(scheduling.id), :class => 'btn btn-warning btn-xs' %>
          <%= link_to "Make Document", new_scheduling_document_path(scheduling.id), :class => 'btn btn-success btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_scheduling_path(scheduling), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

