<%- model_class = Scheduling -%>
<%= render "menu", action: "show", title: model_class.model_name.human.titleize, :model_name => model_class.model_name.human.titleize  %>

<div class="col-md-6">
  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:entity_id) %>:</strong></dt>
    <dd><%= @scheduling.entity_id %></dd>
    <dt><strong><%= model_class.human_attribute_name(:activity_id) %>:</strong></dt>
    <dd><%= @scheduling.activity_id %></dd>
    <dt><strong><%= model_class.human_attribute_name(:employee_id) %>:</strong></dt>
    <dd><%= @scheduling.employee_id %></dd>
    <dt><strong><%= model_class.human_attribute_name(:dtt_moment) %>:</strong></dt>
    <dd><%= @scheduling.dtt_moment %></dd>
    <dt><strong><%= model_class.human_attribute_name(:t_end) %>:</strong></dt>
    <dd><%= @scheduling.t_end %></dd>
    <dt><strong><%= model_class.human_attribute_name(:scheduling_status_id) %>:</strong></dt>
    <dd><%= @scheduling.scheduling_status_id %></dd>
    <dt><strong><%= model_class.human_attribute_name(:observation) %>:</strong></dt>
    <dd><%= @scheduling.observation %></dd>
  </dl>
</div>

<div class="col-md-6">
  <div class="panel panel-warning">
    <div class="panel-heading">
      Scheduling notifications
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to "Send a notification", new_scheduling_notification_path(@scheduling.id), class: "btn btn-warning" %>
      </li>
    </ul>
  </div>
</div>
