<%= simple_form_for @activity, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, :input_html =>{:class => 'form-control'} %>
  <%= error_span(@activity[:name]) %>
  <%= f.input :description, :input_html =>{:class => 'form-control'} %>
  <%= error_span(@activity[:description]) %>
  <%= f.input :value, :input_html =>{:class => 'form-control'} %>
  <%= error_span(@activity[:value]) %>
  <%= f.input :duration, :input_html =>{:class => 'form-control'} %>
  <%= error_span(@activity[:duration]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
<% end %>
