<div class="page-header row">
  <div  class="page-title col-sm-12 col-md-3">
    <h3><%=t '.title', :default => title, :model => model_name %></h3>
  </div>
  <div class="col-sm-6 col-md-4 btn-group" role="group">
    <span class="btn disabled">Options</span>
    <%= link_to t('.new', :default => t("helpers.links.new")), new_activity_path, :class => 'btn btn-primary' unless action == "new"%>

    <%= link_to t('.list', :default => t("list")),
    activities_path, :class => 'btn btn-default' unless action == "index" %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_activity_path(@activity), :class => 'btn btn-default'  if action == "show"  %>
    <%= link_to t('.detail', :default => t("helpers.links.detail")),
    activity_path(@activity), :class => 'btn btn-default'  if action == "edit"  %>
    
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    activity_path(@activity),
    :method => 'delete',
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger'  if action == "show"  %>
  </div>
</div>