<%- model_class = Activity -%>
<div class="row">
  <div class="col-sd-12 col-lg-9">

<%= render "menu", action: "edit", title: [:'helpers.titles.edit', 'Edit %{model}'], :model_name => model_class.model_name.human.titleize  %>

	<%= render :partial => 'form' %>
	</div>
	  <div class="col-xs-12 col-lg-3">
	    <div class="bs-callout bs-callout-warning" id="callout-navbar-btn-context">
	      <h4>Context-specific usage</h4>
	        <p>
Like the standard <a href="../css/#buttons">button classes</a>, <code>.navbar-btn</code> can be used on <code>&lt;a&gt;</code> and <code> &lt;input&gt;</code> elements.           <%= image_tag("beauty.png", :class => "img-responsive") %>
However, neither <code>.navbar-btn</code> nor the standard button classes should be used on <code>&lt;a&gt;</code> elements within <code>.navbar-nav</code>.
        	</p>
    	</div>
    </div>
  </div>
</div>