
<%- model_class = Activity -%>
<div class="row">
  <div class="col-sd-12 col-lg-9">
    <div class="row-fluid">
      <%= render "menu", action: "index", title: model_class.model_name.human.pluralize.titleize, model_name: model_class %>
    </div>
    <div class="row-fuid">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:id) %></th>
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th><%= model_class.human_attribute_name(:description) %></th>
            <th><%= model_class.human_attribute_name(:value) %></th>
            <th><%= model_class.human_attribute_name(:duration) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @activities.each do |activity| %>
          <tr>
            <td><%= link_to activity.id, activity_path(activity), :class => 'btn btn-xs btn-default'  %></td>
            <td><%= activity.name %></td>
            <td><%= activity.description %></td>
            <td><%= activity.value %></td>
            <td><%= activity.duration %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_activity_path(activity), :class => 'btn btn-default btn-xs' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-lg-3">
    <div class="bs-callout bs-callout-warning" id="callout-navbar-btn-context">
      <h4>Context-specific usage</h4>
      <p>
        Like the standard <a href="../css/#buttons">button classes</a>, <code>.navbar-btn</code> can be used on <code>&lt;a&gt;</code> and <code> &lt;input&gt;</code> elements.<%= image_tag("beauty.png", :class => "img-responsive") %> 
        However, neither <code>.navbar-btn</code> nor the standard button classes should be used on <code>&lt;a&gt;</code> elements within <code>.navbar-nav</code>.
      </p>
    </div>
  </div>
</div>