<%= simple_form_for @product, :html => { :class => 'form-horizontal' } do |f| %>

<div class="form-group">
  <div class="col-sm-12">
    <%= f.input :name, :input_html => {:class => "form-control" } %>
    <%= error_span(@product[:name]) %>

  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <%= f.input :value, :input_html => {:class => "form-control" } %>
    <%= error_span(@product[:value]) %>

  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <%= f.input :description, :input_html => {:class => "form-control" } %>
    <%= error_span(@product[:description]) %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <%= f.input :brand, :input_html => {:class => "form-control" } %>
    <%= error_span(@product[:brand]) %>

  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
</div>
<% end %>
