<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Agenda</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-primary navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Trend<span>Hair</span></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "Entities", entities_path %></li>
              <li><%= link_to "Schedulings", schedulings_path %></li>
              <li><%= link_to "Notifications", notifications_path %></li>
              <li><%= link_to "Documents", documents_path %></li>
              <li><%= link_to "Acquittances", acquittances_path %></li>
              <li class="dropdown-toggleopdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configurations<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Employees", employees_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Activities", activities_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Products", products_path %></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello <%= current_user.entity.blank? ? current_user.email : current_user.entity.name %> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Editar seus dados", edit_user_registration_path %></li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Login", new_user_session_path %></li>
              <%end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <%= bootstrap_flash %>
        </div>
        <div class="row-fluid">
          <%= yield %>
        </div>  
      </div><!--/row-->
    </main>
    <footer>
    </footer>

  </body>
</html>
